{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Members Situations{% endblock %}
{% block contenu %}
    <ol class="breadcrumb">
    <li>
      <a href="#">HYMIF</a>
    </li>
    <li>
      <a href="#">Operation</a>
    </li>
    <li class="active">
      Account to Account transfer
    </li>
  </ol>
  <div class="card-box">
    <div class="row">
        <h1 class="text-center">ACCOUNT TO ACCOUNT TRANSFER</h1>
        <section class="col-lg-6">
            <fieldset>
                <legend>Dr</legend>
                <div class="form-group">
                    <label class="control-label col-sm-4">Choose the account to debit</label>
                    <select id="memberNumber" class="form-control select2" required="required">
                        <option value="">&lt;------ Select ------&gt;</option>
                        {% for account in accounts %}
                            <option value="{{account.id}}">{{account.accountNumber}} -> {{account.accountName}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="dr_description" class="control-label col-sm-4">Description</label>
                    <input name="dr_description" type="text" class="form-control" required id="dr_description"/>
                </div>
                <div class="form-group">
                    <label for="dr_amount" class="control-label col-sm-4">Amount</label>
                    <input name="dr_amount" type="number" class="form-control" required id="dr_amount"/>
                </div>
            </fieldset>
        </section>
      <section class="col-lg-6">
            <fieldset>
                <legend>Cr</legend>
                <div class="form-group">
                            <label class="control-label col-sm-4">Choose the account to dredit</label>
                        <select id="memberNumber" class="form-control select2" required="required">
                        <option value="">&lt;------ Select ------&gt;</option>
                        {% for account in accounts %}
                            <option value="{{account.id}}">{{account.accountNumber}} -> {{account.accountName}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="cr_description" class="control-label col-sm-4">Description</label>
                    <input name="cr_description" type="text" class="form-control" required id="cr_description"/>
                </div>
                <div class="form-group">
                    <label for="cr_amount" class="control-label col-sm-4">Amount</label>
                    <input name="cr_amount" type="number" class="form-control" required id="cr_amount"/>
                </div>
            </fieldset>
        </section>
        <div class="form-group pull-left">
            <input class="btn btn-default" type="submit" value="Save">
            <a href="{{path('homepage')}}" class="btn btn-white">Cancel</a>
        </div>
      </div>
  </div>
        {% include 'operation/extras.css.html.twig' %}
        {#{% include './operation/extras_cash_in.js.html.twig' %}#}
{% endblock %}
