{% extends 'base.html.twig' %}
{% block title %} {{parent()}} Edit member{% endblock %}
{% block contenu %}

    <ol class="breadcrumb">
        <li>
            <a href="#">BALACCUL</a>
        </li>
        <li>
            <a href="#">Members</a>
        </li>
        <li class="active">
            Edit
        </li>
    </ol>

<h1 class="text-center">Edit a member</h1>
{{form_start(edit_form)}}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12"> 
        <ul class="nav nav-tabs tabs">
            <li class="active tab">
                <a href="#civility" data-toggle="tab" aria-expanded="false"> 
                    <span class="visible-xs"><i class="fa fa-home"></i></span> 
                    <span class="hidden-xs">Civility</span> 
                </a> 
            </li> 
            <li class="tab"> 
                <a href="#other" data-toggle="tab" aria-expanded="false"> 
                    <span class="visible-xs"><i class="fa fa-user"></i></span> 
                    <span class="hidden-xs">Other</span> 
                </a> 
            </li>
            <li class="tab"> 
                <a href="#conclusion" data-toggle="tab" aria-expanded="false"> 
                    <span class="visible-xs"><i class="fa fa-cog"></i></span> 
                    <span class="hidden-xs">Conclusion</span> 
                </a> 
            </li> 
        </ul> 
        <div class="tab-content"> 
            <div class="tab-pane active" id="civility"> 
                <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{form_label(edit_form.socialReason)}}
                        {{form_errors(edit_form.socialReason)}}
                        {{form_widget(edit_form.socialReason, {'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="form-group">
                        {{form_label(edit_form.dateOfCreation)}}
                        {{form_errors(edit_form.dateOfCreation)}}
                        {{form_widget(edit_form.dateOfCreation, {'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="form-group">
                        {{form_label(edit_form.address)}}
                        {{form_errors(edit_form.address)}}
                        {{form_widget(edit_form.address, {'attr':{'class':'form-control'}})}}
                    </div>
                </div>
                </div>
            </div>

            <div class="tab-pane" id="other">
               <div class="row">
                   <div class="col-md-4">
                        <div class="form-group">
                            {{form_label(edit_form.phoneNumber)}}
                            {{form_errors(edit_form.phoneNumber)}}
                            {{form_widget(edit_form.phoneNumber, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="form-group">
                            {{form_label(edit_form.proposedBy)}}
                            {{form_errors(edit_form.proposedBy)}}
                            {{form_widget(edit_form.proposedBy, {'attr':{'class':'form-control'}})}}
                        </div>
                   </div>
                   <div class="col-md-4">
                       <div class="form-group">
                            {{form_label(edit_form.witnessName)}}
                            {{form_errors(edit_form.witnessName)}}
                            {{form_widget(edit_form.witnessName, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="form-group">
                            {{form_label(edit_form.aprovedBy)}}
                            {{form_errors(edit_form.aprovedBy)}}
                            {{form_widget(edit_form.aprovedBy, {'attr':{'class':'form-control'}})}}
                        </div>
                   </div>
                   <div class="col-md-4">
                        <div class="form-group">
                            {{form_label(edit_form.membershipDateCreation)}}
                            {{form_errors(edit_form.membershipDateCreation)}}
                            {{form_widget(edit_form.membershipDateCreation, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="form-group">
                            {{form_label(edit_form.doneAt)}}
                            {{form_errors(edit_form.doneAt)}}
                            {{form_widget(edit_form.doneAt, {'attr':{'class':'form-control'}})}}
                        </div>
                   </div>
               </div>     
            </div>
            <div class="tab-pane" id="conclusion">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 producteur_form_container" >
                       <div class="form-group">
                            {{form_label(edit_form.memberNumber)}}
                            {{form_errors(edit_form.memberNumber)}}
                            {{form_widget(edit_form.memberNumber, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="form-group">
                            {{form_label(edit_form.registrationFees)}}
                            {{form_errors(edit_form.registrationFees)}}
                            {{form_widget(edit_form.registrationFees, {'attr':{'class':'form-control'}})}}
                        </div>
                        <div class="form-group">
                            {{form_label(edit_form.isAproved)}}
                            {{form_errors(edit_form.isAproved)}}
                            {{form_widget(edit_form.isAproved)}}
                        </div> 
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
                        <div class="form-group">
                            <button  class="btn btn-default"><i class="fa fa-plus-circle"></i> Register the member</a>
                        </div>
                        {{form_end(edit_form)}}
                        <div class="form-group">
                            {{ form_start(delete_form) }}
                                <input class="btn btn-danger" type="submit" value="Delete the entry">
                            {{ form_end(delete_form) }}
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary" href="{{ path('moralmember_index') }}"><i class="fa fa-backward"></i> Back to the list</a>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div> 
</div>
{# {{form_end(edit_form)}} #}
    {% include './moralmember/extras.css.html.twig' %}
    {% include './moralmember/extras.js.html.twig' %}

{% endblock %}