{% extends 'base.html.twig' %}
{% block title %}{{parent()}} moral members list{% endblock %}
{% block contenu %}
     <ol class="breadcrumb">
    <li>
      <a href="#">BALACCUL</a>
    </li>
    <li>
      <a href="#">Moral Members</a>
    </li>
    <li class="active">
      Consult
    </li>
  </ol>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive"><a href="{{path('moralmember_new')}}" class="btn btn-default pull-left">Add a new member</a><br>
            <h4 class="m-t-0 header-title text-center"><b>Moral Members list</b></h4>
            <table id="datatable-buttons" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 100px;">Actions</th>
                        <th>Member Number</th>
                        <th>Name</th>
                        <th>SHARES</th>
                        <th>REGISTRATION</th>
                        <th>SAVINGS</th>
                        <th>DEPOSIT</th>
                        <th>BUILDING FEES</th>
                    </tr>
                </thead>
                {% set shares = 0 %}
                {% set registration = 0 %}
                {% set saving = 0 %}
                {% set deposit = 0 %}
                {% set buildingfees = 0 %}
                {% for member in moralMembers %}
                    <tr>
                        <td>
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions
                                <span class="fa fa-caret-down"></span></button>
                              <ul class="dropdown-menu fadeInDown animated">
                                <li>
                                    <a name="show-member" data-member="{{member.m_id}}" href="{{path('moralmember_show', {id:member.m_id})}}"><i class="fa fa-eye"></i> Show</a>
                                </li>
                                <li><a href="{{ path('moralmember_edit', { 'id': member.m_id }) }}"><i class="fa fa-edit"></i> Edit</a></li>
                                <li><a target="_blank" href="{{ path('moralmember_registration_receipt', { 'id': member.m_id }) }}"><i class="fa fa-file-pdf-o"></i> Receipt</a></li>
                              </ul>
                            </div>
                    </td>
                        <td>{{ member.m_memberNumber }}</td>
                        <td>{{ member.m_socialReason }}</td>
                        <td>{{ member.sh_solde }}</td>
                        <td>{{ member.m_registrationFees }}</td>
                        <td>{{ member.sa_solde }}</td>
                        <td>{{ member.de_solde }}</td>
                        <td>{{ member.m_buildingFees }}</td>
                    </tr>
                    {% set shares = shares + member.sh_solde %}
                    {% set registration = registration + member.m_registrationFees %}
                    {% set saving = saving + member.sa_solde %}
                    {% set deposit = deposit + member.de_solde %}
                    {% set buildingfees = buildingfees + member.m_buildingFees %}
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
        
    {% include './moralmember/extras.css.html.twig' %}
    {% include './moralmember/extras.js.html.twig' %}
{% endblock %}