
{% extends 'base.html.twig' %}

{% block contenu %}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h2 class="text-center">Detail on a Member</h2>
    <table class=" table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ moralMember.id }}</td>
            </tr>
            <tr>
                <th>Socialreason</th>
                <td>{{ moralMember.socialReason }}</td>
            </tr>
            <tr>
                <th>Dateofcreation</th>
                <td>{% if moralMember.dateOfCreation %}{{ moralMember.dateOfCreation|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ moralMember.address }}</td>
            </tr>
            <tr>
                <th>Proposedby</th>
                <td>{{ moralMember.proposedBy }}</td>
            </tr>
            <tr>
                <th>Isaproved</th>
                <td>{% if moralMember.isAproved %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Aprovedby</th>
                <td>{{ moralMember.aprovedBy }}</td>
            </tr>
            <tr>
                <th>Membernumber</th>
                <td>{{ moralMember.memberNumber }}</td>
            </tr>
            <tr>
                <th>Doneat</th>
                <td>{{ moralMember.doneAt }}</td>
            </tr>
            <tr>
                <th>Membershipdatecreation</th>
                <td>{% if moralMember.membershipDateCreation %}{{ moralMember.membershipDateCreation|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Witnessname</th>
                <td>{{ moralMember.witnessName }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ moralMember.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <a class="btn btn-primary" href="{{ path('moralmember_index') }}">Back to the list</a>
            </td>
            <td>
                &nbsp; &nbsp;
            </td>
            <td>
                <a class="btn btn-default" href="{{ path('moralmember_edit', { 'id': moralMember.id }) }}">Edit</a>
            </td>
            <td>
                &nbsp;&nbsp;
            </td>
            <td>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
                
            </td>
        </tr>
    </table>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h2 class="text-center">List of the Representants</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Name</th>
                    <th>NIC Number</th>
                </tr>
                {% for representant in representants %}
                    <tr>
                        <td>{{representant.name}}</td>
                        <td>{{representant.nicNumber}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
</div>
{% endblock %}

