{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p style="font-size:25px" >{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p style="font-size:25px">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <a class="btn btn-default" href="{{path('homepage')}}">Return to the homepage</a>
</div>
