{% extends 'base.html.twig' %}
{% block title %} {{ parent() }}Cash in operation{% endblock %}
{% block contenu %}
    <ol class="breadcrumb">
    <li>
      <a href="#">BALACCUL</a>
    </li>
    <li>
      <a href="#">Operation</a>
    </li>
    <li class="active">
      Loan Situation
    </li>
  </ol>
  <div class="card-box">
      <div class="row">
        <section class="col-lg-4">
            <fieldset>
                <legend>Fill the form below</legend>
                <div class="form-group template">
                    <label class="control-label">Loan Code</label>
                        <select id="loanCode" class="form-control">
                            <option value="">-- choose the loan code --</option>
                            {% for loan in loans %}
                            <option value="{{loan.id}}">
                                {% if loan.physicalMember %}
                                    {{loan.physicalMember.name}} -- {{loan.loanCode}}
                                {% else %}
                                    {{loan.moralMember.socialReason}} -- {{loan.loanCode}}
                                {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary" name="btn-formaccount-reset" href="#">Reset</a>
                        <a target="_blank" class="btn btn-info rotateInDownRight animated hide" id="details" name="btn-details" href="#"><i class="fa fa-eye"></i> More Details</a>
                    </div>
            </fieldset>
        </section>
        <section  class="col-lg-8">
            <fieldset id="detailLoan" class="fadeInDown animated hide">
                <legend>Details of the loan</legend>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="widget-bg-color-icon card-box">
                            <div class="text-center">
                                <p class="text-muted">Loan date</p>
                                <h4 class="text-dark"><b id="loanDate"></b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="widget-bg-color-icon card-box">
                            <div class="text-center">
                                <p class="text-muted">Loan Code</p>
                                <h4 class="text-dark"><b id="loanCodeD"></b></h4>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="widget-bg-color-icon card-box">
                            <div class="text-center">
                                <p class="text-muted">Balance</p>
                                <h4 class="text-dark"><b id="loanAmount" data-plugin="counterup"></b></h4>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="widget-bg-color-icon card-box">
                            <div class="text-center">
                                <p class="text-muted">Rate</p>
                                <h4 class="text-dark"><b id="loanRate"></b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="widget-bg-color-icon card-box">
                            <div class="text-center">
                                <p class="text-muted">Unpaid Interest</p>
                                <h4 class="text-dark"><b id="unpaidInterest" data-plugin="counterup"></b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="widget-bg-color-icon card-box">
                            <div class="text-center">
                                <p class="text-muted">New Interest</p>
                                <h4 class="text-dark"><b id="loanInterest" data-plugin="counterup"></b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="widget-bg-color-icon card-box">
                            <div class="text-center">
                                <p class="text-muted">Total Interest</p>
                                <h4 class="text-dark"><b id="totalInterest" data-plugin="counterup"></b></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset id="physicalOwnerDetails" class=" hide rotateInDownRight animated">
                <legend>Details on the account the owner</legend>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="card-box">
                            <div class="contact-card">
                                <a class="pull-left" href="#">
                                    <img class="img-circle" src="{{asset('assets/images/tba.png')}}" alt="">
                                </a>
                                <div class="member-info">
                                    <h4 class="m-t-0 m-b-5 header-title"><b id="pname"></b></h4>
                                    <p class="text-dark">Member Number: <b  id="pmemberNumber"></b></p>
                                    <p class="text-dark">Occupation: <b  id="poccupation"></b></p>
                                    <p class="text-dark">Adress: <b id="paddress"></b></p>
                                    <p class="text-dark">NIC Number: <b id="pnicNumber"></b></p>
                                    <p class="text-dark">Phone Number: <b id="pphoneNumber"></b></p>
                                    <p class="text-dark">Membership date creation : <b id="pdate"></b></p>
                                    <p class="text-dark">Witness Name: <b id="pwitness"></b></p>
                                    <p class="text-dark">Proposed by: <b id="pproposed"></b></p>
                                    {# <p class="text-dark">Aproved by: <b id="paproved"></b></p> #}
                                    <p class="text-dark">Date of birth: <b id="pdateBirth"></b></p>
                                    <p class="text-dark">Born At: <b id="pPlaceBirth"></b></p>
                            </div>
                        </div>
                        
                    </div> <!-- end col -->
                    
                </div>
            </fieldset>
        </section>
        </div>
            
        </div>

        {% include './loanhistory/extras.css.html.twig' %}
        {% include './loanhistory/extras.js.html.twig' %}
{% endblock %}
