{% extends 'base.html.twig' %}
    {% block title %}{{parent()}} Report items{% endblock %}
{% block contenu %}

    <h1 class="text-center">Report Items list</h1>
            <a class="btn btn-default" href="{{ path('reportitem_new') }}">Create a new report Item</a><br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Group</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reportItem in reportItems %}
            <tr>
                <td>{{ reportItem.id }}</td>
                <td>{{ reportItem.name }}</td>
                <td>{{ reportItem.parentItem }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('reportitem_edit', { 'id': reportItem.id }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
