{% extends 'base.html.twig' %}
{% block title %}{{parent()}} classes list{% endblock %}
{% block contenu %}
     <ol class="breadcrumb">
    <li>
      <a href="#">BALACCUL</a>
    </li>
    <li>
      <a href="#">Classes</a>
    </li>
    <li class="active">
      Consult
    </li>
  </ol>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box"><a  href="{{path('classe_new')}}" class="btn btn-default pull-left">Add a new class</a><br>
            <h4 class="m-t-0 header-title text-center"><b>Classes list</b></h4>
            <table id="datatable-buttons" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 100px;">Actions</th>
                        <th>Name</th>
                    </tr>
                </thead>
                {% for classe in classes %}
                    <tr>
                        <td>
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions
                                <span class="fa fa-caret-down"></span></button>
                              <ul class="dropdown-menu">
                                <li>
                                    <a name="show-member" data-member="{{classe.id}}" href="{{path('classe_show', {id:classe.id})}}"><i class="fa fa-eye"></i> Show</a>
                                </li>
                                <li><a href="{{ path('classe_edit', { 'id': classe.id }) }}"><i class="fa fa-edit"></i> Edit</a></li>
                              </ul>
                            </div>
                    </td>
                    <td>{{ classe.name }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>

</div>
        
    {% include './classe/extras.css.html.twig' %}
    {% include './classe/extras.js.html.twig' %}
{% endblock %}
