{% extends "base.html.twig" %}

{% block title %}
    {{parent()}} Home
{% endblock %}

{% block contenu %}
    <div class="well">
                    <h1 class="text-center"><b>{{agency.name}}</b></h1><br>
         <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <a href="{{path('member_index')}}"><i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="More Details"></i></a>
                    <h4 class="text-dark">Total Amount Shares</h4>
                    <h2 class="text-primary text-center"><span data-plugin="counterup">{{totalShares}}</span> F</h2>
                    <p class="text-muted">Total Members: {{members|length }} <span class="pull-right"></span></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <a href="{{path('member_index')}}"><i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="More Details"></i></a>
                    <h4 class="text-dark">Total Amount Savings</h4>
                    <h2 class="text-pink text-center"><span data-plugin="counterup">{{totalSaving}}</span> F</h2>
                    <p class="text-muted">Total Account: {{members|length }} <span class="pull-right"></span></p>
                </div>
            </div>
{# 
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Last 24 Hours"></i>
                    <h4 class="text-dark">Daily Collection</h4>
                    <h2 class="text-success text-center"><span data-plugin="counterup">{{totalDailyCollections}}</span> F</h2>
                    <p class="text-muted">Total Clients: {{clients |length}} <span class="pull-right"></span></p>
                </div>
            </div> #}

            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <a href="{{path('member_index')}}"><i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="More details"></i></a>
                    <h4 class="text-dark">Deposit</h4>
                    <h2 class="text-warning text-center"><span data-plugin="counterup">{{totalDeposit}}</span> F</h2>
                    <p class="text-muted">Total Account: {{members|length }} <span class="pull-right"></span></p>
                </div>
            </div>
{#         </div>

        <div class="row"> #}
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <a href="{{path('member_index')}}"><i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="More Details"></i></a>
                    <h4 class="text-dark">Building fees</h4>
                    <h2 class="text-dark text-center"><span data-plugin="counterup">{{buildingFees}}</span> F</h2>
                    <p class="text-muted">Total Accounts: {{members|length }} <span class="pull-right"></span></p>
                </div>
            </div>
{#             <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Last 24 Hours"></i>
                    <h4 class="text-dark">Cash in Hand</h4>
                    <h2 class="text-purple text-center"><span data-plugin="counterup">{{cashInHand.amount}}</span> F</h2>
                    <p class="text-muted">Total members and Clients: {{ clients |length + physicalMembersNumber + moralMembersNumber}} <span class="pull-right"></span></p>
                </div>
            </div> #}

{#             <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Last 24 Hours"></i>
                    <h4 class="text-dark">Reserve</h4>
                    <h2 class="text-custom text-center"><span data-plugin="counterup">{{reserves.amount}}</span> F</h2>
                    <p class="text-muted">Total Account: <span class="pull-right"></span></p>
                </div>
            </div> #}

            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <a href="{{path('member_index')}}"><i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="More Details"></i></a>
                    <h4 class="text-dark">Registration Fees</h4>
                    <h2 class="text-custom text-center"><span data-plugin="counterup">{{totalRegistration}}</span> F</h2>
                    <p class="text-muted">Total Members: {{members|length }} <span class="pull-right"></span></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <a href="{{path('loan_index')}}"><i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="More Details"></i></a>
                    <h4 class="text-dark">Total Loan Contracted</h4>
                    <h2 class="text-custom text-center"><span data-plugin="counterup">{{loanContracted}}</span> F</h2>
                    <p class="text-muted">Total Loans: {{loans |length}} <span class="pull-right"></span></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Last 24 Hours"></i>
                    <h4 class="text-dark">Unpaid Loan</h4>
                    <h2 class="text-custom text-center"><span data-plugin="counterup">{{loanUnpaid}}</span> F</h2>
                    <p class="text-muted">Total loans: {{loans |length}} <span class="pull-right"></span></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Last 24 Hours"></i>
                    <h4 class="text-dark">Unpaid Interest</h4>
                    <h2 class="text-custom text-center"><span data-plugin="counterup">{{unpaidInterest}}</span> F</h2>
                    <p class="text-muted">Total Loans: {{ loans|length}} <span class="pull-right"></span></p>
                </div>
            </div>
        </div>
        
{#         <a class="btn btn-app document-request">
                        <span class="badge bg-navy">A préciser</span>
                        <i class="fa fa-folder-open-o"></i> Demande de Documents
                    </a>
                        <ul class="timeline">
                                <!-- timeline time label -->
                                <li class="time-label">
                                    <span class="bg-red">
                                        25-02-2017
                                    </span>
                                </li>
                                <!-- /.timeline-label -->

                                <!-- timeline item -->
                                <li>
                                    <!-- timeline icon -->
                                    <i class="fa fa-bookmark-o bg-blue"></i>
                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 15:02:25</span>

                                        <h3 class="timeline-header"><a href="#">test </a></h3>

                                        <div class="timeline-body">
                                            Creation de la notification par <b> Hydil </b>
                                        </div>

                                        <div class='timeline-footer'>
                                            <a class="btn btn-primary btn-xs" href="#">Voir la modification</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->          
                        </ul> #}
    </div>
    
{% include './default/extras.css.html.twig' %}
{% include './default/extras.js.html.twig' %}
<script type="text/javascript">
    jQuery(document).ready(function($){
    var $timeline_block = $('.cd-timeline-block');

        //hide timeline blocks which are outside the viewport
        $timeline_block.each(function(){
            if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
                $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
            }
        });

        //on scolling, show/animate timeline blocks when enter the viewport
        $(window).on('scroll', function(){
            $timeline_block.each(function(){
                if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                }
            });
        });
    });
</script>
{% endblock %}