{% extends "base.html.twig" %}

{% block title %}
    {{parent()}} Home
{% endblock %}

{% block contenu %}
    <div class="well">
                    <h1 class="text-center"><b>{{agency.name}}</b></h1><br>
         <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <a href="{{path('member_index')}}"><i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="More Details"></i></a>
                    <h4 class="text-dark">Total Amount Shares</h4>
                    <h2 class="text-primary text-center"><span data-plugin="counterup">{{totalShares}}</span> F</h2>
                    <p class="text-muted">Total Members: {{members|length }} <span class="pull-right"></span></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <a href="{{path('member_index')}}"><i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="More Details"></i></a>
                    <h4 class="text-dark">Total Amount Savings</h4>
                    <h2 class="text-pink text-center"><span data-plugin="counterup">{{totalSaving}}</span> F</h2>
                    <p class="text-muted">Total Account: {{members|length }} <span class="pull-right"></span></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <a href="{{path('member_index')}}"><i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="More details"></i></a>
                    <h4 class="text-dark">Deposit</h4>
                    <h2 class="text-warning text-center"><span data-plugin="counterup">{{totalDeposit}}</span> F</h2>
                    <p class="text-muted">Total Account: {{members|length }} <span class="pull-right"></span></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <a href="{{path('member_index')}}"><i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="More Details"></i></a>
                    <h4 class="text-dark">Building fees</h4>
                    <h2 class="text-dark text-center"><span data-plugin="counterup">{{buildingFees}}</span> F</h2>
                    <p class="text-muted">Total Accounts: {{members|length }} <span class="pull-right"></span></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <a href="{{path('member_index')}}"><i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="More Details"></i></a>
                    <h4 class="text-dark">Registration Fees</h4>
                    <h2 class="text-custom text-center"><span data-plugin="counterup">{{totalRegistration}}</span> F</h2>
                    <p class="text-muted">Total Members: {{members|length }} <span class="pull-right"></span></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <a href="{{path('loan_index')}}"><i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="More Details"></i></a>
                    <h4 class="text-dark">Total Loan Contracted</h4>
                    <h2 class="text-custom text-center"><span data-plugin="counterup">{{loanContracted}}</span> F</h2>
                    <p class="text-muted">Total Loans: {{loans |length}} <span class="pull-right"></span></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Last 24 Hours"></i>
                    <h4 class="text-dark">Unpaid Loan</h4>
                    <h2 class="text-custom text-center"><span data-plugin="counterup">{{loanUnpaid}}</span> F</h2>
                    <p class="text-muted">Total loans: {{loans |length}} <span class="pull-right"></span></p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="card-box widget-box-1 bg-white">
                    <i class="fa fa-info-circle text-muted pull-right inform" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Last 24 Hours"></i>
                    <h4 class="text-dark">Unpaid Interest</h4>
                    <h2 class="text-custom text-center"><span data-plugin="counterup">{{unpaidInterest}}</span> F</h2>
                    <p class="text-muted">Total Loans: {{ loans|length}} <span class="pull-right"></span></p>
                </div>
            </div>
        </div>
    </div>
    

                          <!--   <div class="row">
                                <div class="col-lg-6">
                                    <div class="card-box">
                                        <canvas id="pie" height="300"></canvas> 
                                </div>
                                    </div>
                                
                                <div class="col-lg-6">
                                    <div class="card-box">
                                        <canvas id="doughnut" height="300"></canvas>
                                    </div>
                                </div>
                            </div> -->
            <script src="{{asset('assets/plugins/chart.js/chart.min.js')}}"></script>
            <script src="{{asset('assets/pages/customChart.js')}}"></script>

{% include './default/extras.css.html.twig' %}
{% include './default/extras.js.html.twig' %}
{% endblock %}