{% extends 'base.html.twig' %}
{% block title %}{{parent()}} Consulter les utilisateurs{% endblock %}
{% block contenu %}
     <ol class="breadcrumb">
    <li>
      <a href="#">BALACCUL</a>
    </li>
    <li>
      <a href="#">Users</a>
    </li>
    <li class="active">
      List
    </li>
  </ol>
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <header class="panel-heading text-center">
            <h1>Users List </h1>
        </header>
        <div class="panel-body">
        <div class="adv-table">
            <a class="btn btn-default" href="{{path('user_register')}}">New User</a><br><br>
        <table  class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Login</th>
            <th>Email</th>
            <th>Phon number</th>
            <th>Groupe</th>
            <th>Activate / Deactivate</th>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions
                    <span class="fa fa-caret-down"></span></button>
                  <ul class="dropdown-menu fadeInUp animated">
                    <li>
                        <a name="show-utilisateur" data-utilisateur="{{utilisateur.id}}"><i class="fa fa-eye"></i> View</a>
                    </li>
                    <li><a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}"><i class="fa fa-edit"></i> Edit</a></li>
                  </ul>
                </div>
                </td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.numeroTelephone }}</td>
                <td>{{ utilisateur.groupe }}</td>
                <td>
                    {% if app.user.username == utilisateur.username %}
                        <span class="label label-default">User Connected</span>
                        
                    {% else %}
                        {% if utilisateur.enabled %}
                            <a href="{{ path('utilisateur_disable', { 'id': utilisateur.id }) }}" class="btn btn-danger" > Deactivate
                            </a>
                        {% else %}
                            <a href="{{ path('utilisateur_enable', { 'id': utilisateur.id }) }}" class="btn btn-warning">Activate</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
        </div>
        </section>
        </div>
        <!-- modal window to show utilisateur-details-->

        <div class="modal fade modal-show-utilisateur-details" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                    <h3 class="text-center">Consulter Un utilisateur</h3>
              </div>
              <div class="modal-body">
                <div class="table-responsive">          
                    <table class="table table-striped">
                    <tr>
                        <td> ID Utilisateur: </td>
                        <td id="idUtilisateur"></td>
                    </tr>
                    <tr>
                        <td>Nom de l'utilisateur :</td>
                        <td id="nomUtilisateur"></td>
                    </tr>
                    <tr>
                        <td>Login :</td>
                        <td id="loginUser"></td>
                    </tr>
                    <tr>
                        <td>Adresse Email :</td>
                        <td id="emailUtilisateur"></td>
                    </tr>
                    <tr>
                        <td>Numéro de téléphone:</td>
                        <td id="numeroTelephone"></td>
                    </tr>
                </table>
                </div>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        </div>
    {% include './utilisateur/extras.css.html.twig' %}
    {% include './utilisateur/extras.js.html.twig' %}
{% endblock %}