{% extends 'base.html.twig' %}
{% block title %}{{parent()}} New User{% endblock %}

{% block contenu %}

    <ol class="breadcrumb">
        <li>
            <a href="#">BALACCUL</a>
        </li>
        <li>
            <a href="#">Users</a>
        </li>
        <li class="active">
            new User
        </li>
    </ol>

        <!-- Forms -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <h4 class="m-t-0 header-title text-center"><b>Add a new saving account</b></h4>
                                      {{ form_start(form) }}
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.nom)}}
                                                  {{form_errors(form.nom)}}
                                                  {{form_widget(form.nom, {'attr' : {'class':'form-control'}})}}
                                              </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.username)}}
                                                  {{form_errors(form.username)}}
                                                  {{form_widget(form.username, {'attr' : {'class':'form-control'}})}}
                                              </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.plainPassword.first)}}
                                                  {{form_errors(form.plainPassword.first)}}
                                                  {{form_widget(form.plainPassword.first, {'attr' : {'class':'form-control'}})}}
                                              </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.email)}}
                                                  {{form_errors(form.email)}}
                                                  {{form_widget(form.email, {'attr' : {'class':'form-control'}})}}
                                              </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.plainPassword.second)}}
                                                  {{form_errors(form.plainPassword.second)}}
                                                  {{form_widget(form.plainPassword.second, {'attr' : {'class':'form-control'}})}}
                                              </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.numeroTelephone)}}
                                                  {{form_errors(form.numeroTelephone)}}
                                                  {{form_widget(form.numeroTelephone, {'attr' : {'class':'form-control'}})}}
                                              </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.groupe)}}
                                                  {{form_errors(form.groupe)}}
                                                  {{form_widget(form.groupe, {'attr' : {'class':'form-control'}})}}
                                              </div>
                                          </div>
                                  </div>
                                <div class="modal-footer">
                                  <input class="btn btn-default" type="submit" value="Save" />
                                  <a class="btn btn-primary" href="{{path('utilisateur_index')}}">Back to the list</a>
                                </div>
                                {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}