{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}} Profile
{% endblock %}

{% block contenu %}
	    <!-- Page-Title -->
<ol class="breadcrumb">
	            <li><a href="#">HYMIF</a></li>
	            <li><a href="#">Config</a></li>
	            <li class="active">Profile</li>
	        </ol>
	    <div class="row">
	        <div class="col-md-12 col-lg-12">
	            <div class="profile-detail card-box">
	                    <h4 class="text-uppercase font-600">About me </h4>
	                    <p class="text-muted font-13 m-b-30">
	                        Name: <b>{{app.user.nom}}</b>
						</p>

	                    <div class="text-left">
	                        <p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15"> {{app.user.nom}} </span></p>

	                        <p class="text-muted font-13"><strong>Phone number :</strong><span class="m-l-15"> {{app.user.numeroTelephone}} </span></p>

	                        <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15"> {{app.user.email}} </span></p>

	                        <p class="text-muted font-13"><strong>Address :</strong> <span class="m-l-15">------</span></p>

	                    </div>

	                </div>

	            </div>
	        </div>
	    </div>
{% endblock %}