<style type="text/css">
    table {
        width: 100%;
        line-height: 5mm;
        border-collapse: collapse;
    }

    .p-3 {width: 3%}
    .p-6 {width: 6%}
    .p-8 {width: 8%}
    .p-5 {width: 5%;}
    .p-12 {width: 12%;}
    .p-60 { width: 60%;}
    .p-40 {width: 40%}
    .p-50 {width: 50%}
    .p-100 {width: 100%;}

    .info td, .info th {
        border: 1px solid black;
        height: 15px;
        font-size: 15px;
    }

    .info th {
        background: gray;
        text-align: center;
        font-size: 12px;

    }
    .text-center {
        text-align: center;
    }

    img {
        height: 80px;
    }
</style>

<page footer="page;" backbottom="5mm">
    <page_footer>
        <hr>
        <span>{{agency.abreviation}}</span> <span style="margin-left:400px;">&copy; <b>HYMIF</b> made by GreenSoft-Group Technologies</span>
    </page_footer>
    <table>
        <tr>
            <td class="p-60">
                 <b>{{agency.name}}</b> <br/>
                 <b>HEAD OFFICE: {{agency.town}}</b><br/>
                 <b>TEL: {{agency.phoneNumber}}</b><br>
                 <b>PO BOX: {{agency.poBox}}</b>
            </td>
            <td  style="text-align: right;" class="p-40">
                <img src="./assets/images/users/logo_cu1.jpg"  alt="logo">
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="p-100">
                <h3 class="text-center"><strong>Individual Ledger Extracted at {{ date }} </strong></h3>
            </td>
        </tr>
    </table>
        <table class="info">
            <tr>
                <th class="p-3 text-center">S/N</th>
                <th class="p-12">Name of Members</th>
                <th class="p-6">A/C N°</th>
                <th class="p-8">Shares</th>
                <th class="p-8">Savings</th>
                <th class="p-8">Deposit</th>
                <th class="p-8">Loan Amount</th>
                <th class="p-8">Date of Loan</th>
                <th class="p-8">Loan Balance</th>
                <th class="p-8">Total interest Accrute</th>
                <th class="p-8">Delinquent installment</th>
                <th class="p-5">N° Days delinquent</th>
                <th class="p-5">Remarks</th>
            </tr>
            {% set totalShares = 0 %}
            {% set totalSavings = 0 %}
            {% set totalDeposits = 0 %}
            {% set totaLoanss = 0 %}
            {% set totalLoans = 0 %}
            {% set totalRemainAmount = 0 %}
            {% set totalInterestToPayAt = 0 %}
            {% for member in members  %}
                {% if loop.index == 23 %}
                    <tr>
                        <th class="p-3 text-center">S/N</th>
                        <th class="p-12">Name of Members</th>
                        <th class="p-6">A/C N°</th>
                        <th class="p-8">Shares</th>
                        <th class="p-8">Savings</th>
                        <th class="p-8">Deposit</th>
                        <th class="p-8">Loan Amount</th>
                        <th class="p-8">Date of Loan</th>
                        <th class="p-8">Loan Balance</th>
                        <th class="p-8">Total interest Accrute</th>
                        <th class="p-8">Delinquent installment</th>
                        <th class="p-5">N° Days delinquent</th>
                        <th class="p-5">Remarks</th>
                    </tr>
                {% endif %}

                {% if loop.index > 23 and (loop.index - 23) % 28 == 0 %}
                    <tr>
                        <th class="p-3 text-center">S/N</th>
                        <th class="p-12">Name of Members</th>
                        <th class="p-6">A/C N°</th>
                        <th class="p-8">Shares</th>
                        <th class="p-8">Savings</th>
                        <th class="p-8">Deposit</th>
                        <th class="p-8">Loan Amount</th>
                        <th class="p-8">Date of Loan</th>
                        <th class="p-8">Loan Balance</th>
                        <th class="p-8">Total interest Accrute</th>
                        <th class="p-8">Delinquent installment</th>
                        <th class="p-5">N° Days delinquent</th>
                        <th class="p-5">Remarks</th>
                    </tr>
                {% endif %}

                <tr>
                    <td class="text-center">{{ loop.index }}</td>
                    <td>
                        {% if member.name %}
                            {% set array = member.name|split(' ') %}
                            {{ attribute(array, 0) }}
                            {% if array| length >= 2 %}
                                {{ attribute(array, 1) }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-center">{{ member.memberNumber }}</td>
                    <td class="text-center">
                        {{ member.share |number_format(0, '.', ' ') }}
                        {% set totalShares = totalShares + member.share %}
                    </td>
                    <td class="text-center">
                        {{ member.saving |number_format(0, '.', ' ') }}
                        {% set totalSavings = totalSavings + member.saving %}
                    </td>
                    <td class="text-center">
                        {{ member.deposit |number_format(0, '.', ' ') }}
                        {% set totalDeposits = totalDeposits + member.deposit %}
                    </td>
                    <td class="text-center">
                        {% if member.loan %}
                            {{ member.loan.loanAmount |number_format(0, '.', ' ') }}
                            {% set totalLoans = totalLoans + member.loan.loanAmount %}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if member.loan %}
                            {{ member.loan.dateLoan | date('d-m-Y') }}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if member.loan %}
                            {% if member.loan.loanHistory %}
                                {{ member.loan.loanHistory.remainAmount |number_format(0, '.', ' ') }}
                                {% set totalRemainAmount = totalRemainAmount + member.loan.loanHistory.remainAmount %}
                            {% else %}
                                {{ member.loan.loanAmount |number_format(0, '.', ' ') }}
                                {% set totalRemainAmount = totalRemainAmount + member.loan.loanAmount %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if member.loan %}
                            {{ member.loan.interestToPayAt |number_format(0, '.', ' ') }}
                            {% set totalInterestToPayAt = totalInterestToPayAt + member.loan.interestToPayAt %}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if member.loan %}
                            {{ member.loan.numberOfDelinquent }}
                        {% endif %}

                    </td>
                    <td class="text-center">
                        {% if member.loan %}
                            {{ member.loan.numberOfDays}}
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
            <tr>
                <td class="text-center" colspan="3"><b>Total</b></td>
                <td class="text-center"><b>{{ totalShares |number_format(0, '.', ' ') }}</b></td>
                <td class="text-center"><b>{{ totalSavings |number_format(0, '.', ' ') }}</b></td>
                <td class="text-center"><b>{{ totalDeposits |number_format(0, '.', ' ') }}</b></td>
                <td class="text-center"><b>{{ totalLoans |number_format(0, '.', ' ') }}</b></td>
                <td></td>
                <td class="text-center"><b>{{ totalRemainAmount |number_format(0, '.', ' ') }}</b></td>
                <td class="text-center"><b>{{ totalInterestToPayAt |number_format(0, '.', ' ') }}</b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

    <br><br>
    <table>
        <tr>
            <td class="p-50" style="text-align: center; font-size: 15px; font-weight: bold;">MANAGER</td>
            <td class="p-50" style="text-align: center; font-size: 15px; font-weight: bold;">PRESIDENT</td>
        </tr>
    </table>
</page>