<style type="text/css">
    table {
        width: 100%;
        line-height: 5mm;
        border-collapse: collapse;
    }

    .p-5{width: 5%}
    .p-10 { width: 10%; }
    .p-25{width: 25%;}
    .p-20{width: 20%;}
    .p-30 {width: 30%;}
    .p-60 { width: 60%; }
    .p-40{width: 40%}
    .p-100{width: 100%;}

    .trial_balance td,.trial_balance th {
        border: 1px solid black;
        height: 20px;
        font-size: 14px;
    }

    .trial_balance th {
        background: gray; text-align:center;
    }
    .text-center {
        text-align: center;
    }
</style>

<page footer="page;" backbottom="5mm">
    <page_footer>
        <hr>
        <span>{{agency.abreviation}}</span> <span style="margin-left:400px;">GreenSoft-Group Technologies</span>
    </page_footer>
    <table>
        <tr>
            <td class="p-60">
                 <b>{{agency.name}}</b> <br/>
                 <b>{{agency.abreviation}} HEAD OFFICE</b><br/>
                 <b>TEL: {{agency.phoneNumber}}</b><br>
                 <b>POX BOX: {{agency.poBox}}</b>
            </td>
            <td  style="text-align: right;" class="p-40">
                <img style="height:80px;" src="./assets/images/users/logo_cu1.jpg"  alt="logo">
            </td>
        </tr>
    </table>
    {% if type == "Members" %}
        <table>
            <tr>
                <td class="p-100">
                    <h3 class="text-center"><strong>
                            {% if status == 'allMembers' %}
                                BALACCUL MEMBERS LIST
                            {% elseif status == 'activeMembers' %}
                                BALACCUL ACTIVE MEMBERS
                            {% else %}
                                BALACCUL INACTIVE MEMBERS
                            {% endif %}
                        </strong></h3>
                </td>
            </tr>
        </table>
        <table class="trial_balance">
            <tr>
                <th class="p-5">N°</th>
                <th class="p-10">A/C N°</th>
                <th class="p-25">ACCOUNT NAME</th>
                <th class="p-10">REG</th>
                <th class="p-10">SHARES</th>
                <th class="p-10">SAVINGS</th>
                <th class="p-10">DEPOSITS</th>
                <th class="p-10">BF</th>
                <th class="p-10">OBSERVATION</th>
            </tr>
                {% set totalReg = 0 %}
                {% set totalSh = 0 %}
                {% set totalSa = 0 %}
                {% set totalDep = 0 %}
                {% set totalBF = 0 %}
                {% for account in lists %}
                    <tr>
                        <td class="text-center">{{ loop.index }}</td>
                        <td class="text-center">{{account.memberNumber }}</td>
                        <td class="text-center">{{account.name[:20]}}</td>
                        <td class="text-center">{{account.registrationFees |number_format(0, '.', ' ')}}</td>
                        <td class="text-center">{{account.share |number_format(0, '.', ' ')}}</td>
                        <td class="text-center">{{account.saving |number_format(0, '.', ' ')}}</td>
                        <td class="text-center">{{account.deposit |number_format(0, '.', ' ')}}</td>
                        <td class="text-center">{{account.buildingFees |number_format(0, '.', ' ')}}</td>
                        <td class="text-center"></td>
                    </tr>
                    {% set totalReg = totalReg + account.registrationFees %}
                    {% set totalSh = totalSh + account.share %}
                    {% set totalSa = totalSa + account.saving %}
                    {% set totalDep = totalDep + account.deposit %}
                    {% set totalBF = totalBF + account.buildingFees %}
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-center"><b>TOTAL</b></td>
                    <td class="text-center"><b>{{totalReg |number_format(0, '.', ' ')}}</b></td>
                    <td class="text-center"><b>{{totalSh |number_format(0, '.', ' ')}}</b></td>
                    <td class="text-center"><b>{{totalSa |number_format(0, '.', ' ')}}</b></td>
                    <td class="text-center"><b>{{totalDep |number_format(0, '.', ' ')}}</b></td>
                    <td class="text-center"><b>{{totalBF |number_format(0, '.', ' ')}}</b></td>
                    <td class="text-center"></td>
                </tr>
        </table>
    {% else %}
    <table>
        <tr>
            <td class="p-100">
                <h3 class="text-center"><strong>LOANS LIST</strong></h3>
            </td>
        </tr>
    </table>
    <table class="trial_balance">
        <tr>
            <th class="p-10">CODE</th>
            <th class="p-30">LOAN CONTRACTED</th>
            <th class="p-20">LOAN REPAID</th>
            <th class="p-20">UNPAID INTEREST</th>
            <th class="p-20">BALANCE</th>
        </tr>
            {% set totalLC = 0 %}
            {% set totalLR = 0 %}
            {% set totalUI = 0 %}
            {% set totalRA = 0 %}
            {% set totalBA = 0 %}
        {% if lists %}
            {% for loan in lists %}
                <tr>
                    <td class="text-center">{{loan.l_loanCode }}</td>
                    <td class="text-center">{{loan.l_loanAmount |number_format(0, '.', ' ')}}</td>
                    <td class="text-center">{{(loan.l_loanAmount - loan.lh_remainAmount) |number_format(0, '.', ' ')}}</td>
                    <td class="text-center">{{loan.lh_unpaidInterest |number_format(0, '.', ' ')}}</td>
                    <td class="text-center">{{loan.lh_remainAmount |number_format(0, '.', ' ')}}</td>
                </tr>
                {% set totalLC = totalLC + loan.l_loanAmount %}
                {% set totalLR = totalLR + (loan.l_loanAmount - loan.lh_remainAmount) %}
                {% set totalUI = totalUI + loan.lh_unpaidInterest %}
                {% set totalBA = totalBA + loan.lh_remainAmount %}
            {% endfor %}
        {% endif %}
        {% if listLoanWithOutHistory %}
            {% for loan in listLoanWithOutHistory %}
                <tr>
                    <td class="text-center">{{loan.loanCode }}</td>
                    <td class="text-center">{{loan.loanAmount}}</td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">{{loan.loanAmount |number_format(0, '.', ' ')}}</td>
                </tr>
                {% set totalLC = totalLC + loan.loanAmount %}
                {% set totalBA = totalBA + loan.loanAmount %}
            {% endfor %}
        {% endif %}
            <tr>
                <td class="text-center"><b>TOTAL</b></td>
                <td class="text-center"><b>{{totalLC |number_format(0, '.', ' ')}}</b></td>
                <td class="text-center"><b>{{totalLR |number_format(0, '.', ' ')}}</b></td>
                <td class="text-center"><b>{{totalUI |number_format(0, '.', ' ')}}</b></td>
                <td class="text-center"><b>{{totalBA |number_format(0, '.', ' ')}}</b></td>
            </tr>
        </table>
    {% endif %}
</page>