{% extends 'base.html.twig' %}
{% block title %}{{parent()}} members list{% endblock %}
{% block contenu %}
     <ol class="breadcrumb">
    <li>
      <a href="#">BALACCUL</a>
    </li>
    <li>
      <a href="#">Physical Members</a>
    </li>
    <li class="active">
      Consulter
    </li>
  </ol>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive"><a href="{{path('member_new')}}" class="btn btn-default pull-left">Add a new member</a><br>
            <h4 class="m-t-0 header-title text-center"><b>Members list</b></h4>
            <table id="datatable-buttons" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 200px;">Actions</th>
                        <th>Member Number</th>
                        <th>Name</th>
                        <th>Sex</th>
                        <th>Date of birth</th>
                        <th>Place of birth</th>
                        <th>Occupation</th>
                        <th>Address</th>
                        <th>NIC number</th>
                        <th>Issued On</th>
                        <th>Issued At</th>
                        <th>Proposedby</th>
                        <th>Is aproved ?</th>
                        <th>Âproved by</th>
                        <th>Done at</th>
                        <th>Membership date Creation</th>
                        <th>Witness Name</th>
                        <th>Phonenumber</th>
                    </tr>
                </thead>
                {% for member in members %}
                    <tr>
                        <td>
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Actions
                                <span class="fa fa-caret-down"></span></button>
                              <ul class="dropdown-menu fadeInDown animated">
                                <li>
                                    <a name="show-member" data-member="{{member.id}}" href="{{path('member_show', {id:member.id})}}"><i class="fa fa-eye"></i> Show</a>
                                </li>
                                <li><a href="{{ path('member_edit', { 'id': member.id }) }}"><i class="fa fa-edit"></i> Edit</a></li>
                                <li><a target="_blank" href="{{ path('member_registration_receipt', { 'id': member.id }) }}"><i class="fa fa-file-pdf-o"></i> Receipt</a></li>
                              </ul>
                            </div>
                    </td>
                    <td>{{ member.memberNumber }}</td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.sex }}</td>
                    <td>{% if member.dateOfBirth %}{{ member.dateOfBirth|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ member.placeOfBirth }}</td>
                    <td>{{ member.occupation }}</td>
                    <td>{{ member.address }}</td>
                    <td>{{ member.nicNumber }}</td>
                    <td>{% if member.issuedOn %}{{ member.issuedOn|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ member.issuedAt }}</td>
                    <td>{{ member.proposedBy }}</td>
                    <td>{% if member.isAproved %} <span class="label label-success">YES</span>{% else %}<span class="label label-success">NO</span>{% endif %}</td>
                    <td>{{ member.aprovedBy }}</td>
                    <td>{{ member.doneAt }}</td>
                    <td>{% if member.membershipDateCreation %}{{ member.membershipDateCreation|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ member.witnessName }}</td>
                    <td>{{ member.phoneNumber }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
        
    {% include './member/extras.css.html.twig' %}
    {% include './member/extras.js.html.twig' %}
{% endblock %}