<page backtop="10mm" backleft="10mm" backright="10mm" backbottom="10mm" footer="page;">
    <page_footer>
        <hr />
        <span>{{agency.abreviation}}</span><span style="margin-left:500px;">GreenSoft-Team</span>
    </page_footer>
    <table>
        <tr>
            <td class="60p">
                <b>{{agency.name}}</b><br>
                <b>HEAD OFFICE {{agency.abreviation}}</b><br/>
                 <b>TEL: {{agency.phoneNumber}}</b><br>
                 <b>PO Box: {{agency.poBox}}</b><br>

            </td>
            <td  style="text-align: right;" class="40p">
                <img style="height:80px;" src="./assets/images/users/logo_cu1.jpg"  alt="logo">
            </td>
        </tr>
    </table><br>

    <table style="margin-top: 10px;">
        <tr>
            <td class="20p" style="text-align: left;"></td>
            <td class="60p" style="text-align: center; font-size:20px"><strong>
            REGISTRATION  RECEIPT
            </strong></td>
            <td class="20p" style="text-align: right;"></td>
        </tr>
    </table><br>
    <table>
        <tr>
            <td class="25p" style="text-align: left;">XAF: <b>F CFA</b></td>
            <td class="75p" style="text-align: right;">DATE: <b>{{member.memberShipDateCreation |date('d-m-Y')}} </b> </td>
        </tr>
    </table>
    <table class="zone">
        <tr>
            <td class="50p" style="border-right:1px solid black;">Name: <b>{{member.name}}</b></td>
            <td class="50p" >Account Number: <b>{{member.memberNumber}}</b></td>
        </tr>
        <tr>
            <td class="50p" style="border-right:1px solid black;">Phone Number: <b>{{member.phoneNumber}}</b></td>
            <td class="50p">NIC Number: <b>{{member.nicNumber}}</b></td>
        </tr>
        {% set total = 0 %}
        <tr>
            {% if member.registrationFees %}
                <td class="50p" style="border-right:1px solid black;">Registration Fees: <b>{{ member.registrationFees }}</b></td>
                {% set total = total + member.registrationFees %}
            {% endif %}
            {% if member.share %}
                <td class="50p">Shares : <b>{{ member.share }}</b></td>
                {% set total = total + member.share %}
            {% endif %}
        </tr>
        <tr>
            {% if member.saving %}
                <td class="50p" style="border-right:1px solid black;">Savings : <b>{{ member.saving }}</b></td>
                {% set total = total + member.saving %}
            {% endif %}
            {% if member.deposit %}
                <td class="50p">Deposit : <b>{{ member.deposit }}</b></td>
                {% set total = total + member.deposit %}
            {% endif %}
        </tr>
        {% if member.buildingFees %}
            <tr>
                <td class="50p">Building Fees : <b>{{ member.buildingFees }}</b></td>
                {% set total = total + member.buildingFees %}
            </tr>
        {% endif %}
    </table>
<br>
    <table>
        <tr>
            <td class="75p" style="text-align: left;" style="border-right:1px solid black;"></td>
            <td class="25p" style="text-align: right;" style="border:1px solid black; text-align:center;">TOTAL: <b>{{ total }} </b> </td>
        </tr>
    </table>
    <table style="margin-bottom:0px">
        <tr>
            <td class="25p" style="border-bottom:1px dashed black;border-right:1px dashed black; text-align:center">MEMBER</td>
            <td class="25p" style="border-bottom:1px dashed black; text-align:center;">CASHER</td>
        </tr>
        <tr>
            <td class="15p" style="border-right:1px dashed black">
                <br><br>
            </td>
            <td class="15p">
                <br><br>
            </td>
        </tr>
    </table>
    <br>

    ------------------------------------------------------------------------------------------------------------------------------------------------------------<br><br><br>
    <page_footer>
        <hr />
        <span>{{agency.abreviation}}</span><span style="margin-left:500px;">GreenSoft-Team</span>
    </page_footer>
    <table>
        <tr>
            <td class="60p">
                <b>{{agency.name}}</b><br>
                <b>HEAD OFFICE {{agency.abreviation}}</b><br/>
                <b>TEL: {{agency.phoneNumber}}</b><br>
                <b>PO Box: {{agency.poBox}}</b><br>

            </td>
            <td  style="text-align: right;" class="40p">
                <img style="height:80px;" src="./assets/images/users/logo_cu1.jpg"  alt="logo">
            </td>
        </tr>
    </table><br>

    <table style="margin-top: 10px;">
        <tr>
            <td class="20p" style="text-align: left;"></td>
            <td class="60p" style="text-align: center; font-size:20px"><strong>
                    REGISTRATION  RECEIPT
                </strong></td>
            <td class="20p" style="text-align: right;"></td>
        </tr>
    </table><br>
    <table>
        <tr>
            <td class="25p" style="text-align: left;">XAF: <b>F CFA</b></td>
            <td class="75p" style="text-align: right;">DATE: <b>{{member.memberShipDateCreation |date('d-m-Y')}} </b> </td>
        </tr>
    </table>
    <table class="zone">
        <tr>
            <td class="50p" style="border-right:1px solid black;">Name: <b>{{member.name}}</b></td>
            <td class="50p" >Account Number: <b>{{member.memberNumber}}</b></td>
        </tr>
        <tr>
            <td class="50p" style="border-right:1px solid black;">Phone Number: <b>{{member.phoneNumber}}</b></td>
            <td class="50p">NIC Number: <b>{{member.nicNumber}}</b></td>
        </tr>
        {% set total = 0 %}
        <tr>
            {% if member.registrationFees %}
                <td class="50p" style="border-right:1px solid black;">Registration Fees: <b>{{ member.registrationFees }}</b></td>
                {% set total = total + member.registrationFees %}
            {% endif %}
            {% if member.share %}
                <td class="50p">Shares : <b>{{ member.share }}</b></td>
                {% set total = total + member.share %}
            {% endif %}
        </tr>
        <tr>
            {% if member.saving %}
                <td class="50p" style="border-right:1px solid black;">Savings : <b>{{ member.saving }}</b></td>
                {% set total = total + member.saving %}
            {% endif %}
            {% if member.deposit %}
                <td class="50p">Deposit : <b>{{ member.deposit }}</b></td>
                {% set total = total + member.deposit %}
            {% endif %}
        </tr>
        {% if member.buildingFees %}
            <tr>
                <td class="50p">Building Fees : <b>{{ member.buildingFees }}</b></td>
                {% set total = total + member.buildingFees %}
            </tr>
        {% endif %}
    </table>
    <br>
    <table>
        <tr>
            <td class="75p" style="text-align: left;" style="border-right:1px solid black;"></td>
            <td class="25p" style="text-align: right;" style="border:1px solid black; text-align:center;">TOTAL: <b>{{ total }} </b> </td>
        </tr>
    </table>
    <table style="margin-bottom:0px">
        <tr>
            <td class="25p" style="border-bottom:1px dashed black;border-right:1px dashed black; text-align:center">MEMBER</td>
            <td class="25p" style="border-bottom:1px dashed black; text-align:center;">CASHER</td>
        </tr>
        <tr>
            <td class="15p" style="border-right:1px dashed black">
                <br><br>
            </td>
            <td class="15p">
                <br><br>
            </td>
        </tr>
    </table>
</page>
{% include '/report/extra_file_report.css.html.twig' %}