<page backtop="10mm" backleft="10mm" backright="10mm" backbottom="10mm" footer="page;">
    <page_footer>
        <hr />
        <span>{{agency.abreviation}}</span> <span style="margin-left:50px;">Printed By <b>{{currentUser}}</b></span><span style="margin-left:100px;">GreenSoft-Team</span>
    </page_footer>
    <table>
        <tr>
            <td class="60p">
                 <b>{{agency.name}}</b> <br/>
                 <b>{{agency.abreviation}} HEAD OFFICE</b> <br/>
                 <b>Tel: {{agency.phoneNumber}}</b>
            </td>
            <td  style="text-align: right;" class="40p">
                <img style="height:80px;" src="./assets/images/users/logo_cu1.jpg"  alt="logo">
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="100p">
                <h3 style="text-align:center"><strong>CASH BOOK</strong></h3>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="100p">DATE: <strong>{{date |date('d-m-Y H:m:s')}}</strong></td>
        </tr>
    </table><br>
        {% if operations %}
    <table class="eleves">
        <tr>
            <th style="text-align:center; background: gray" class="10p">Date</th>
            <th style="text-align:center; background: gray" class="50p">Description</th>
            <th style="text-align:center; background: gray" class="10p">Type</th>
            <th style="text-align:center; background: gray" class="15p">Credit</th>
            <th style="text-align:center; background: gray" class="15p">Debit</th>
        </tr>
        {% set totalCredit = 0 %}
        {% set totalDebit = 0 %}
        {% for operation in operations %} 
            <tr>
                <td style="text-align:center">{{operation.dateOperation|date('d-m-Y')}}</td>
                <td style="text-align:center">
                    {% if operation.isSaving %}
                        Savings {{operation.member.memberNumber}}
                    {% elseif operation.isShare %}
                        Shares {{operation.member.memberNumber}}
                    {% elseif operation.isDeposit %}
                        Deposit {{operation.member.memberNumber}}
                        {% else %}
                            {{operation.account[:30]}}
                    {% endif %}
                </td>

                <td style="text-align:center">{{operation.typeOperation}}</td>
                <td style="text-align:center">{% if operation.typeOperation == "CASH IN" %}
                                                    {{operation.amount}}
                                    {% set totalCredit = totalCredit + operation.amount %}
                                                {% else %}
                                                    //
                                                {% endif %}
                </td>
                <td style="text-align:center">{% if operation.typeOperation == "CASH OUT" %}
                                                    {{operation.amount}}
                                                    {% set totalDebit = totalDebit + operation.amount %}
                                                {% else %}
                                                    //
                                                {% endif %}
                </td>
            </tr>
        {% endfor %}
                        <tr>
                            <td class="10p"></td>
                            <td class="50p"></td>
                            <td class="10p" style="text-align:center"><b>TOTAL</b></td>
                            <td class="15p" style="text-align:center"><b>{{totalCredit}}</b></td>
                            <td class="15p" style="text-align:center"><b>{{totalDebit}}</b></td>
                        </tr>
                        <tr>
                            <td class="10p"></td>
                            <td class="50p"></td>
                            <td class="10p"></td>
                            <td class="15p" style="text-align:center"><b>BALANCE</b></td>
                            {% set balance = totalCredit - totalDebit %}
                            <td class="15p" style="text-align:center"><b>{{balance}}</b></td>
                        </tr>
     </table>
        {% endif %}
</page>

{% include '/report/extra_file_report.css.html.twig' %}