<page backtop="10mm" backleft="10mm" backright="10mm" backbottom="10mm" footer="page;">
    <page_footer>
        <hr />
        <span>{{agency.abreviation}}</span><span style="margin-left:550px;">GreenSoft-Team</span>
    </page_footer>


    <table>
        <tr>
            <td class="60p">
                 <b>{{agency.name}}</b> <br/>
                 <b>HEAD OFFICE {{agency.town}}</b> <br/>
                 <b>TEL: {{agency.phoneNumber}}</b><br>
                 <b>PO BOX: {{agency.poBox}}</b>
            </td>
            <td  style="text-align: right;" class="40p">
                <img style="height:80px;" src="./assets/images/users/logo_cu1.jpg"  alt="logo">
            </td>
        </tr>
    </table>

    <table class="info1" style="margin-top: 10px;">
        <tr>
            <td class="25p" style="text-align: left;"></td>
            <td class="50p" style="text-align: center; font-size:20px"><strong>MEMBER SITUATION ON {{type |upper}}</strong></td>
            <td class="25p" style="text-align: right;"></td>
        </tr>
    </table><br><br>
    {% if loanSituations %}
    <table class="info3">
        <tr>
            <td class="75p" style="text-align: left; border-top: none; font-size:15px">Account Name: <b>
                    {{member.name}}
            </b>
        </td>
            <td class="25p" style="text-align: left; border: none; font-size:15px">Account Number: <b>
                {{member.memberNumber}}
            </b>
            </td>
        </tr>
        <tr>
            <td class="75p" style="text-align: left; border-top: none; font-size:15px">Loan Contracted: <b>
                    {{loan.loanAmount}}
            </b>
        </td>
            <td class="25p" style="text-align: left; border: none; font-size:15px">Rate: <b>
                {{loan.rate}} %
            </b>
            </td>
        </tr>
    </table><br>

    <table class="eleves">
        <tr>
            <th style="background: gray; text-align:center" class="10p">Date</th>
            <th style="background: gray; text-align:center" class="15p">Loan Repaid</th>
            <th style="background: gray; text-align:center" class="25p">Intrest paid</th>
            <th style="background: gray; text-align:center" class="25p">Interest Unpaid</th>
            <th style="background: gray; text-align:center" class="25p">Balance</th>
        </tr>
            {% for operation in loanSituations %} 
                <tr>
                    <td style="text-align:center" >{{operation.dateOperation |date('d-m-Y') }}</td>
                    <td style="text-align:center">{{operation.monthlyPayement |number_format(0, '.', ' ')}}</td>
                    <td style="text-align:center">
                        {{operation.interest |number_format(0, '.', ' ')}}
                    </td>
                    <td style="text-align:center">
                        {{operation.unpaidInterest |number_format(0, '.', ' ')}}
                    </td>
                    <td style="text-align:center">
                            {{operation.remainAmount |number_format(0, '.', ' ')}}
                    </td>
                </tr>
        {% endfor %}
                
    </table><br><br><br>
    {% else %}
                <h2 style="color: red; text-align:center">No results</h2>
    {% endif %}
    <table>
        <tr>
            <td class="100p" style="text-align:right">Done at: <b>{{agency.town}}</b> on <b>{{currentDate |date('d-m-Y')}}</b></td>
        </tr>
    </table>
</page>

{% include '/report/extra_file_report.css.html.twig' %}