{% extends 'base.html.twig' %}
{% block title %}{{parent()}} New Loan{% endblock %}

{% block contenu %}

    <ol class="breadcrumb">
        <li>
            <a href="#">HYMIF</a>
        </li>
        <li>
            <a href="#">Cash Out</a>
        </li>
        <li class="active">
            New Loan
        </li>
    </ol>
        <!-- Forms -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                    <fieldset>
                      <legend>Add a new loan</legend>
                                      {{ form_start(form) }}
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.loanCode)}}
                                                  {{form_widget(form.loanCode, {'attr' : {'class':'form-control', 'required':'required'}})}}
                                                  {{form_errors(form.loanCode)}}
                                              </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.loanAmount, 'Loan Contracted')}}
                                                  {{form_widget(form.loanAmount, {'attr' : {'class':'form-control'}})}}
                                                  {{form_errors(form.loanAmount)}}
                                              </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.physicalMember, 'Member')}}
                                                  {{form_widget(form.physicalMember, {'attr' : {'class':'form-control select2'}})}}
                                                  {{form_errors(form.physicalMember)}}
                                              </div>
                                          </div>

                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.rate)}}
                                                  {{form_widget(form.rate, {'attr' : {'class':'form-control'}})}}
                                                  {{form_errors(form.rate)}}
                                              </div>
                                          </div>


                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.monthlyPayment, 'Installment Amount')}}
                                                  {{form_widget(form.monthlyPayment, {'attr' : {'class':'form-control'}})}}
                                                  {{form_errors(form.monthlyPayment)}}
                                              </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.loanProcessingFees)}}
                                                  {{form_widget(form.loanProcessingFees, {'attr' : {'class':'form-control'}})}}
                                                  {{form_errors(form.loanProcessingFees)}}
                                              </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.dateLoan, 'Date of the loan')}}
                                                  {{form_widget(form.dateLoan, {'attr' : {'class':'form-control'}})}}
                                                  {{form_errors(form.dateLoan)}}
                                              </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{form_label(form.deadline, 'Date of the first installment')}}
                                                  {{form_widget(form.deadline, {'attr' : {'class':'form-control'}})}}
                                                  {{form_errors(form.deadline)}}
                                              </div>
                                          </div>
                                         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                              <div class="form-group">
                                                  {{ form_label(form.status, "Active ?") }}
                                                  {{ form_widget(form.status, {'attr' : {'class':'choice'}}) }}
                                                  {{ form_errors(form.status) }}
                                              </div>
                                          </div>
                                  {# </div> #}
                                <div class="modal-footer">
                                  <input class="btn btn-default" type="submit" value="Save" />
                                  <a class="btn btn-white" href="{{path('loan_index')}}">Back to the list</a>
                                </div>
                                {{ form_end(form) }}
                    </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'loan/extras.css.html.twig' %}
    {% include 'operation/extras_cash_in.js.html.twig' %}

{% endblock %}