{% extends 'base.html.twig' %}
{% block title %}{{parent()}} Report{% endblock %}
{% block contenu %}
 <ol class="breadcrumb">
    <li>
      <a href="#">BALACCUL</a>
    </li>
    <li>
      <a href="#">Reports</a>
    </li>
    <li class="active">
      LEGDER BALANCE
    </li>
  </ol>
  <div class="card-box">
    <div class="row">
        <fieldset>
            <legend>
                GENERAL LEDGER BALANCE
            </legend>
        <div class=" col-lg-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
            <div class="portlet">
                <div class="portlet-heading bg-custom">
                    <div class="portlet-widgets pull-left">
                        <span class="divider"></span>
                        <span class="divider"></span>
                    </div>
                        <h3 class="portlet-title">
                            INPUT THE DATE
                        </h3>
                    <div class="clearfix"></div>
                </div>
                <div id="bg-info1" class="panel-collapse collapse" style="display:block">
                    <div class="portlet-body">
                        <div class="p-20">
                            <form target="_blank" method="POST" action="{{ path('report_general_ledger') }}" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Day</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" required class="form-control" placeholder="day/month/year" id="datepicker-autoclose" name="currentDate">
                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="icon-calender"></i></span>
                                        </div><!-- input-group -->
                                        <br>
                                        <input  type="submit" class="btn btn-default" value="Validate"/>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </fieldset>
        </div> <!-- End row -->

        <div class="row">
            <fieldset>
                <legend>
                    INDIVIDUAL LEDGER BALANCE
                </legend>
            <div class=" col-lg-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                <div class="portlet">
                    <div class="portlet-heading bg-info">
                        <div class="portlet-widgets pull-left">
                            <span class="divider"></span>
                            <span class="divider"></span>
                        </div>
                            <h3 class="portlet-title">
                                INPUT THE INFORMATIONS
                            </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bg-info1" class="panel-collapse collapse" style="display:block">
                        <div class="portlet-body">
                            <div class="p-20">
                                <form target="_blank" method="POST" action="{{ path('report_individual_ledger') }}" class="form-horizontal">
                                    <div class="form-group">
                                            <label class="control-label col-sm-4">Choose the account</label>
                                            <div class="col-sm-8">
                                            <select name="accountNumber" class="form-control select2" autofocus required="required">
                                            <option value="">&lt;------ Select ------&gt;</option>
                                            {% for account in accounts %}
                                                <option value="{{account.id}}">{{account.accountName}} -- {{account.accountNumber}} </option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Day</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="text" required class="form-control" placeholder="day/month/year" id="datepicker-autoclose2" name="currentDate">
                                                <span class="input-group-addon bg-custom b-0 text-white"><i class="icon-calender"></i></span>
                                            </div><!-- input-group -->
                                            <br>
                                            <input  type="submit" class="btn btn-default" value="Validate"/>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </fieldset>
            </div> <!-- End row -->
    </div>

    {% include '/report/extras_report.css.html.twig' %}
    {% include '/report/extras_report.js.html.twig' %}
{% endblock %}