{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Cash Out operation{% endblock %}
{% block contenu %}
    <ol class="breadcrumb">
    <li>
      <a href="#">BALACCUL</a>
    </li>
    <li>
      <a href="#">Operation</a>
    </li>
    <li class="active">
      Member Situation
    </li>
  </ol>
            <h1 class="text-center">MEMBERS ACCOUNT SITUATION</h1>
        {# <form target="_blank" method="POST" action="{{ path('operation_cash_out_save') }}"> #}
        <section class="col-lg-6">
            <fieldset>
                <legend>Operations</legend>
                <div class="form-group">
                            <label class="control-label col-sm-4">Choose the member</label>
                        <select id="memberNumber" class="form-control select2" required="required">
                        <option value="">&lt;------ Select ------&gt;</option>
                        {% for member in members %}
                            <option value="{{member.id}}">{{member.name}} -- {{member.memberNumber}} </option>
                        {% endfor %}
                    </select>
                </div>
                    <div class="form-group rotateInUpRight animated hide" id="bouton">
                        <a target="_blank" id="saving" href="#" class="btn btn-default">Saving</a>
                        <a target="_blank" id="share" href="#" class="btn btn-primary">Shares</a>
                        <a target="_blank" id="deposit" href="#" class="btn btn-success">Deposit</a>
                        <a target="_blank" id="loan" href="#" class="btn btn-warning">Loan</a>
                    </div>
            </fieldset>
        </section>
        {% include './operation/extras.css.html.twig' %}
        {% include './operation/extras_cash_in.js.html.twig' %}
{% endblock %}
