{% extends 'base.html.twig' %}
{% block title %}{{parent()}} Report{% endblock %}
{% block contenu %}
 <ol class="breadcrumb">
    <li>
      <a href="#">BALACCUL</a>
    </li>
    <li>
      <a href="#">Reports</a>
    </li>
    <li class="active">
      Monthly Report
    </li>
  </ol>
    <div class="row">
        <fieldset>
            <legend>
                MONTHLY REPORT
            </legend>
        <div class=" col-lg-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="portlet">
                <div class="portlet-heading bg-custom">
                    <div class="portlet-widgets pull-left">
                        <span class="divider"></span>
                        <span class="divider"></span>
                    </div>
                        <h3 class="portlet-title text-center">
                            DATE RANGE
                        </h3>
                    <div class="clearfix"></div>
                </div>
                <div id="bg-info1" class="panel-collapse collapse" style="display:block">
                    <div class="portlet-body">
                        <div class="p-20">
                            <form target="_blank" method="POST" action="{{ path('report_month') }}" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4"> From </label>
                                    <div class="col-sm-6">
                                        <div class="input-daterange input-group" id="date-range">
                                            <input type="text" class="form-control" name="start" />
                                            <span class="input-group-addon bg-custom b-0 text-white">To</span>
                                            <input type="text" class="form-control" name="end" />
                                        </div>
                                        <br>
                                        <input  type="submit" class="btn btn-default" value="Validate"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </fieldset>
        </div> <!-- End row -->
    <div class="row">
        <fieldset>
            <legend>
                INDIVIDUAL LEDGER EXTRACTION
            </legend>
            <div class=" col-lg-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                <div class="portlet">
                    <div class="portlet-heading bg-blue">
                        <div class="portlet-widgets pull-left">
                            <span class="divider"></span>
                            <span class="divider"></span>
                        </div>
                        <h3 class="portlet-title">
                            INPUT THE DATE
                        </h3>
                        <div class="clearfix"></div>
                    </div>
                    <div id="bg-info1" class="panel-collapse collapse" style="display:block">
                        <div class="portlet-body">
                            <div class="p-20">
                                <form target="_blank" method="POST" action="{{ path('members_individual_ledger_pdf') }}" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Day</label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <input type="text" required class="form-control" placeholder="day/month/year" id="datepicker-autoclose" name="currentDate">
                                                <span class="input-group-addon bg-blue b-0 text-white"><i class="icon-calender"></i></span>
                                            </div><!-- input-group -->
                                            <br>
                                            <input  type="submit" class="btn btn-primary" value="Validate"/>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div> <!-- End row -->

        <div class="row">
            <fieldset>
                <legend>OTHER DOCUMENTS</legend>
                     <div class="well">
                             <button type="button" class="btn btn-success waves-effect waves-light">Generate
                                 <span class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i>
                                 </span>
                             </button>
                              <div class="btn-group dropdown">
                                   <button type="button" class="btn btn-info waves-effect waves-light">Members</button>
                                   <button type="button" class="btn btn-info dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"><i class="caret"></i></button>
                                       <ul class="dropdown-menu" role="menu" >
                                           <li><a href="{{path('report_generate_document', {status:'allMembers', type:'Members' })}}" target="_blank">All Members</a></li>
                                            <li><a href="{{path('report_generate_document', {status:'activeMembers', type:'Members'})}}" target="_blank">Active Members</a></li>
                                            <li><a href="{{path('report_generate_document', {status:'inactiveMembers', type:'Members'})}}" target="_blank">Inactive Members</a></li>
                                            <li><a href="{{path('report_generate_document', {status:'foundingMembers', type:'Members'})}}" target="_blank">Founding Members</a></li>
                                       </ul>
                               </div>
                                {# <div class="btn-group dropdown">
                                     <button type="button" class="btn btn-info waves-effect waves-light">Loans</button>
                                     <button type="button" class="btn btn-info dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"><i class="caret"></i></button>
                                         <ul class="dropdown-menu" role="menu">
                                           <li><a href="{{path('report_generate_document', {status:'allLoans', type:'Loans'})}}" target="_blank">All Loans</a></li>
                                           <li><a href="{{path('report_generate_document', {status:'activeLoans', type:'Loans'})}}" target="_blank">Active Loans</a></li>
                                           <li><a href="{{path('report_generate_document', {status:'inactiveLoans', type:'Loans'})}}" target="_blank">Inactive Loans</a></li>
                                         </ul>
                                 </div>                                   #}
                         <a class="btn btn-default" target="_blank" href="{{ path('all_situations_pdf') }}">Main Accounts Situation</a>
                      <!--/section-->
                    </div>
            </fieldset>
        </div>

    {% include '/report/extras_report.css.html.twig' %}
    {% include '/report/extras_report.js.html.twig' %}
{% endblock %}