<page footer="page;">
    <page_footer>
        <hr />
        <span>{{agency.abreviation}}</span> <span style="margin-left:50px;">Printed By <b>{{currentUser}}</b></span><span style="margin-left:150px;">GreenSoft-Team</span>
    </page_footer>
    <table>
        <tr>
            <td class="60p">
                 <b>{{agency.name}}</b> <br/>
                 <b>{{agency.abreviation}} HEAD OFFICE</b> <br/>
                 <b>Tel: {{agency.phoneNumber}}</b>
            </td>
            <td  style="text-align: right;" class="40p">
                <img style="height:80px;" src="./assets/images/users/logo_cu1.jpg"  alt="logo">
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="100p">
                <h3 style="text-align:center"><strong>TRIAL BALANCE</strong></h3>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="25p">Date: <strong>{{date |date('d-m-Y H:m:s')}}</strong></td>
            <td style="text-align:right" class="75p">Period From: <b>{{ displayDateStart}}</b> to <b>{{displayDateEnd}}</b></td>
        </tr>
    </table> <br>
    <table class="trialbalance">
        <tr>
            <th style="background: gray; text-align:center" class="10p">A/C N°</th>
            <th style="background: gray; text-align:center" class="30p">ACCOUNT NAME</th>
            <th style="background: gray; text-align:center" class="15p">START BALANCE</th>
            <th style="background: gray; text-align:center" class="15p">DEBIT</th>
            <th style="background: gray; text-align:center" class="15p">CREDIT</th>
            <th style="background: gray; text-align:center" class="15p">FINAL BALANCE</th>
        </tr>
            {% set totalCredit = 0 %}
            {% set totalDebit = 0 %}
            {% set totalBeginBalance = 0 %}
            {% set totalEndBalance = 0 %}
            {% for account in internalAccounts %} 
                <tr>
                    <td style="text-align:center">{{account.accountNumber }}</td>
                    <td style="text-align:center">{{account.accountName[:30]}}</td>
                    <td style="text-align:center">{{account.beginingBalance |number_format(0, '.', ' ')}}</td>
                    <td style="text-align:center">{{account.debit |number_format(0, '.', ' ')}}</td>
                    <td style="text-align:center">{{account.credit |number_format(0, '.', ' ')}}</td>
                    <td style="text-align:center">{{account.endingBalance |number_format(0, '.', ' ')}}</td>
                </tr>
                {% set totalCredit = totalCredit + account.credit %}
                {% set totalDebit = totalDebit + account.debit %}
                    {% if account.beginBalanceCode == 'D' %}
                        {% set totalBeginBalance = totalBeginBalance + account.beginingBalance  %}
                    {% else %}
                        {% set totalBeginBalance = totalBeginBalance - account.beginingBalance  %}
                    {% endif %}
                    {% if account.endingBalanceCode == 'D' %}
                        {% set totalEndBalance = totalEndBalance + account.endingBalance %}
                    {% else %}
                        {% set totalEndBalance = totalEndBalance - account.endingBalance %}
                    {% endif %}
            {% endfor %}
            <tr>
                <td class="10p"></td>
                <td class="30p" style="text-align:center"><b>TOTAL</b></td>
                <td class="15p" style="text-align:center"><b>{{totalBeginBalance |number_format(0, '.', ' ')}}</b></td>
                <td class="15p" style="text-align:center"><b>{{totalDebit |number_format(0, '.', ' ')}}</b></td>
                <td class="15p" style="text-align:center"><b>{{totalCredit |number_format(0, '.', ' ')}}</b></td>
                <td class="15p" style="text-align:center"><b>{{totalEndBalance |number_format(0, '.', ' ')}}</b></td>
            </tr>
    </table>
</page>

{% include '/report/extra_file_report.css.html.twig' %}